In [32]:
import pandas as pd
import numpy as np
import seaborn as sns

In [33]:
df = sns.load_dataset('iris')

In [34]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [35]:
%who

df	 np	 pd	 sns	 x

In [36]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [37]:
df['target'] = np.where(df['species'] == 'setosa',0, np.where(df['species'] == 'versicolor',1,2))

In [38]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  target
0           5.1          3.5           1.4          0.2  setosa       0
1           4.9          3.0           1.4          0.2  setosa       0
2           4.7          3.2           1.3          0.2  setosa       0
3           4.6          3.1           1.5          0.2  setosa       0
4           5.0          3.6           1.4          0.2  setosa       0

In [39]:
df.drop(columns = 'species', inplace = True)

In [40]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

In [41]:
x = df.drop(columns = 'target')
y = df['target']

In [42]:
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [43]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [44]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width      target
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.199333    1.000000
std        0.828066     0.435866      1.765298     0.762238    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [92]:
# Normalizando as variaveis preditoras :
normalizador = MinMaxScaler(feature_range = (0,1))

In [93]:
x_norm = normalizador.fit_transform(x)

In [94]:
x_norm.ndim

2

In [95]:
pca = PCA(n_components=2)
x_pca = pca.fit_transform(x)

In [96]:
x_pca.ndim

2

In [97]:
x_treino, x_teste,y_treino,y_teste = train_test_split(x_pca,y,test_size = 0.3, random_state = 14)

In [98]:
modelo = KNeighborsClassifier()
modelo.fit(x_treino,y_treino)

KNeighborsClassifier()

In [99]:
score = modelo.score(x_teste,y_teste) # calcula a acuracia
print(f'Acuracia : {score:.4f}')

Acuracia : 0.9778

### Variancia explicada dos componentes

In [100]:
pca.explained_variance_ratio_

array([0.92461872, 0.05306648])